<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${title}">Login</title>
</head>
<body>
    <h1>Login</h1>
    <nav>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </nav>
    <form method="post" action="/login">
        <input type="text" name="username"/>
        <input type="password" name="password"/>
        <input type="submit" value="Login"/>
    </form>
    <span th:text="${invalidLogin}" style="color: red; font-size: 14px">Invalid login</span>
</body>
</html>